/* 
He corregido los errores que tenia en la tarea anterior
*/
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  /* font-size: 1vw; */
}

body {
  font-family: "Quicksand", sans-serif;
  margin: 0 auto; /* Centra la página en la ventana del navegador */
  overflow-x: hidden;
}

/* -------------------------------------------------------------------------- */
/*                                   HEADER                                   */
/* -------------------------------------------------------------------------- */
header {
  background-color: #404040;
  height: 20vh;
  text-align: center;
}
h1 {
  font-family: "Pacifico", cursive;
  font-size: 50px;
  color: #bfbfbf;
}
header p {
  padding-bottom: 10px;
}
/* -------------------------------------------------------------------------- */
/*                                    ASIDE                                   */
/* -------------------------------------------------------------------------- */
aside {
  position: sticky;
  top: 0;
  background-color: #404040;
  height: 37vh;
  margin: 5px;
  text-align: center;
  border: 2px dotted #bfbfbf;
  padding-top: 15px;
  font-size: 1.1vw;
}
aside li {
  display: grid;
  margin-bottom: 20px;
}
aside a {
  text-decoration: none;
  color: black;
  font-weight: bold;
}
/* -------------------------------------------------------------------------- */
/*                                    MAIN                                    */
/* -------------------------------------------------------------------------- */
main {
  background-color: #bfbfbf;
  display: grid;
  grid-template-columns: 10% 1fr;
  gap: 20px;
  padding: 20px;
}

/* --------------------------------- FIGURES -------------------------------- */
figure {
  border: 2px solid black;
  margin: 5px;
  overflow: hidden;
}
figure img {
  width: 100%;
  height: 60vh;
  display: block;
}
figcaption {
  font-family: "Caveat", cursive;
  text-align: center;
  font-size: 2vw;
}
.primera-fila {
  display: grid;
  grid-template-columns: 2fr 1fr; /*dos columnas, la primera tiene el doble tamaño de la segunda */
}
.segunda-fila {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr; /* Tres columnas iguales */
}
/* -------------------------------------------------------------------------- */
/*                                   FOOTER                                   */
/* -------------------------------------------------------------------------- */
footer {
  background-color: #404040;
  color: #bfbfbf;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  text-align: center;
  padding: 8px;
}

.redes-sociales a img {
  width: 30px;
  height: 30px;
}
